<div class="top-split-line color-dark">
  <div class="p-3">
    
    <div class="row">
      <div class="col-1">
        <button class="btn py-0 plus-btn" (click)="onExpandClick()">
          <i class="fas" [ngClass]='{"fa-plus-circle": !ifExpand, "fa-minus-circle":ifExpand }'></i>
        </button>
      </div>
      <div class="col-2">{{visaStatusRecord.firstName}}</div>
      <div class="col-3">{{visaStatusRecord.workAuthorization}}</div>
      <div class="col-3">{{visaStatusRecord.visaEndDate}}</div>
      <div class="col-3">{{visaStatusRecord.dayLeft}}</div>
    </div>
  </div>
  <div *ngIf="ifExpand" class="top-split-line expand-content">
    <div class="p-3">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">

          <table cellpadding="10">
            <tr>
              <td class="color-light">Name:</td>
              <td>{{getFullName()}}</td>
            </tr>
            <tr>
              <td class="color-light">Visa:</td>
              <td>{{visaStatusRecord.visaStatus}}</td>
            </tr>
            <tr>
              <td class="color-light">Start Date:</td>
              <td>{{visaStatusRecord.visaStartDate}}</td>
            </tr>
            <tr>
              <td class="color-light">End Date:</td>
              <td>{{visaStatusRecord.visaEndDate}}</td>
            </tr>
          </table>
          
        </div>
        <div class="col-6">
          <p class="color-light mb-2">Document Received:</p>
          
          <div>
            <a href="#">OPT STEM</a>
          </div>
          <div>
            <a href="#">I-20</a>
          </div>

          <div>
            <a href="#">I-983</a>
          </div>

          <div>
            <a href="#">OPT EAD</a>
          </div>
          
          <div>
            <p class="my-2">Next Step: <strong>{{visaStatusRecord.nextStep}}</strong></p>
            <button class="nowrap btn send-btn">Send Notification</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>