<!-- <h1>House Information</h1>
<p>Address: </p>
<p>Landlord: </p>
<p>Number of Persons: </p>
<br>
<h1>Facility Information</h1>
<p>Number of Beds: </p>
<p>Number of Mattress: </p>
<p>Number of Tables: </p>
<p>Number of Chairs: </p>
<br>
<h1>Facility Report</h1>
<table>
    <tr>
        <th>Report Date</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let history of maintenanceHistoryList">
        <td>{{history.reportDate}}</td>
        <td>{{history.title}}</td>
        <td>{{history.description}}</td>
        <td>{{history.status}}</td>
    </tr>
</table> -->