.error {
    padding: 10px 5px;
    font-size: 14px;
}

.onboard-input {
    border: 1px solid #F5F5F5;
    border-radius: 2px;
}

.onboard-input:focus, .onboard-input:active {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.01), 0 3px 1px -2px rgba(0,0,0,.05), 0 1px 5px 0 rgba(0,0,0,.12);
}

.next-btn {
    border-radius: 2px;
    background-color: #3EC5F2;
    color: white;
    line-height: 1;
    font-size: 14px;
}