<div class="my-3 mx-auto box-shadow bg-white">
  <h3 class="color-dark m-0 p-3">Personal Information (Cont.)</h3>

  <div class="bottom-split-line"></div>

  <div class="p-3">

    <div class="d-flex m-4 p-4 avatar-container">
      <div class="m-auto">
        <h6 class="color-dark text-center mb-1">Upload your avatar image</h6>
        <p class="m-0 color-light avatar-desc text-center">Your employee avatar helps to inform your identity.</p>

        <div class="d-flex flex-column">

          <img class="avatar-display mx-auto my-4" [src]="imageSrc">

          <label class="mx-auto mb-3" for="avatar">
            <span class="btn btn-primary avatar-btn">Select an image...</span>
          </label>

          <input type="file" class="" id="avatar" name="avatar"
            accept="image/png, image/jpeg"
            required 
            hidden
            (change)=onFileSelected($event)>
        </div>

      </div>
    </div>
  
  </div>

  <div class="bottom-split-line"></div>

  <div class="p-3">

    <button (click)="onSaveClick()" class="btn save-btn mr-2">
      Save
    </button>

    <button (click)="onSkipClick()" class="btn skip-btn mr-2">
      Skip
    </button>

    <button (click)="onPrevClick()" class="btn next-btn mr-2">
      Prev
    </button>

    <button [disabled]="!ifUnclockNext" (click)="onNextClick()" class="btn next-btn">
      Next
    </button>
  </div>
</div>