.next-btn, .save-btn, .skip-btn {
    border-radius: 2px;
    line-height: 1;
    font-size: 14px;
    padding: 10px 20px;
    color: white;
}

.save-btn {
    background-color: #29C178;
}

.skip-btn {
    background-color: #3F66A1;
}

.next-btn {
    background-color: #3EC5F2;
}

.avatar-container {
    background-color: #f7f7f7;
}

.avatar-desc {
    font-size: 13px;
}

.avatar-display {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.avatar-btn {
    font-size: 13px;
}