.avatar-container {
    background-color: #f7f7f7;
}

.avatar-desc {
    font-size: 13px;
}

.avatar-display {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.avatar-btn {
    font-size: 13px;
}