<nav class="sidebar">
  <div class="logo-container d-flex align-items-center justify-content-center">
    <img class="logo" src="assets/colored-white-logo.svg">
    <div>
      <p class="m-0 title">Sauage Fire</p>
      <p class="m-0 subtitle">Onboarding System</p>
    </div>
  </div>

  <ul class="nav flex-column">

    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/employee/onboarding">
        <i class="fas fa-pizza-slice"></i>
        Onboarding
      </a>
    </li>

    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/employee/dashboard" >
        <i class="fas fa-home"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/employee/profile">
        <i class="fas fa-id-card"></i>
        Profile
      </a>
    </li>
    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/employee/visa">
        <i class="fas fa-globe-asia"></i>
        Visa
      </a>
    </li>
    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/employee/housing">
        <i class="fas fa-building"></i>
        Housing
      </a>
    </li>

    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/hr/dashboard" >
        <i class="fas fa-home"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/hr/employees">
        <i class="fas fa-users"></i>
        Employees
      </a>
    </li>
    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/hr/hire">
        <i class="fab fa-hire-a-helper"></i>
        Hire
      </a>
    </li>
    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/hr/visas">
        <i class="fas fa-globe"></i>
        Visas
      </a>
    </li>
    <li class="nav-item sidebar-item" routerLinkActive="active">
      <a class="nav-link sidebar-link" routerLink="/hr/houses">
        <i class="fas fa-city"></i>
        Houses
      </a>
    </li>

  </ul>

</nav>

<nav class="main-navbar navbar flex-nowrap fixed-top py-0">
  <ul class="nav ml-auto mr-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link main-navbar-link">
        <img class="avatar mr-2" src="assets/avatar.jpg">
        <span class="my-auto mr-2">Rob Test</span>
        <i class="fas fa-sort-down"></i>
      </a>
      <div style="display: none;">
        <ul>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </li>

    <div class="vertical-split-line mr-1"></div>

    <li class="nav-item text-nowrap d-flex">
      <a class="nav-link main-navbar-link my-auto">
        <i class="fas fa-bell"></i>
      </a>
    </li>
    <li class="nav-item text-nowrap d-flex">
      <a class="nav-link main-navbar-link my-auto">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  </ul>
</nav>

<main role="main" class="px-0 main">
  <div class="navbar-holder"></div>
  <router-outlet></router-outlet>
</main>