<div class="box-shadow bg-white my-3">

  <h6 class="color-dark m-0 p-3">
    <i class="color-blue fas fa-briefcase mr-2"></i>
    <span>Employment</span>
  </h6>

  <div class="bottom-split-line"></div>

  <div class="px-3 p-3">

    <div>
      <p class="feature-title">Title</p>
      <p class="feature-value">{{profileEmployment.title}}</p>
    </div>

    <div>
      <p class="feature-title">Start Date</p>
      <p class="feature-value">{{profileEmployment.startDate}}</p>
    </div>

    <div>
      <p class="feature-title">End Date</p>
      <p class="feature-value">{{profileEmployment.endDate}}</p>
    </div>

    <div>
      <p class="feature-title">Visa Type</p>
      <p class="feature-value">{{profileEmployment.visaType}}</p>
    </div>

    <div>
      <p class="feature-title">Visa Start Date</p>
      <p class="feature-value">{{displayVisaStartDate}}</p>
    </div>

    <div>
      <p class="feature-title">Visa End Date</p>
      <p class="feature-value">{{displayVisaEndDate}}</p>
    </div>

  </div>

  <div class="bottom-split-line"></div>

  <div class="px-3 py-2 d-flex justify-content-center">
    <button class="btn edit-btn">
      <i class="fas fa-pen mr-2"></i>
      <span>EDIT</span>
    </button>
  </div>

</div>